.content {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.show {
	display: flex;
	justify-content: center;
}

.color {
	display: flex;
	margin-right:10px;
	margin-top: 10px;
	font-size: 25px;
}

.square {
	width: 30px;
	height: 30px;
	border:1px solid black;
	margin-left: 5px;
}

.red {
	background-color: red; 
}

.green {
	background-color: green;
}

.black {
	background-color: black;
}

.hex-color {
	width: 80px;
	height:80px;
	border:1px solid black;
	margin:10px;
	margin-left: 0px;
	background-color: '#000'
}

.hex-show {
	height:25px;
}

.footer {

	display: flex;
	flex-direction: column;
	margin:0 auto;
}

.submit {
	margin:0 auto;
	width: 100px;
	font-size: 20px;
	border-radius: 10px;
	padding:10px;
}

#alert {
	color: red;
	font-size: 24px;
}

.bar {
	width: 100px;
}

.color-bar {
	display: flex;
	margin-top: 20px;
}

.color-mark {
	width: 20px;
	height: 20px;
	border:1px solid black;
	text-align: center;
}

.color-display {
	width: 50px;
	height: 20px;
	border:1px solid;
	text-align: center;
}